{% extends "main/page.html" %}
{% load static %}

{% block head %}
    <title>Register</title>
{% endblock %}

{% block main %}
    <form method="post">
        <p>
            {% csrf_token %}
            <label for="input_register">Логин: </label>
            <input type="text" name="login" id="input_register">
            <br>
            <label for="input_register_password">Пароль: </label>
            <input type="password" name="password" id="input_register_password">
        </p>
        <p><input type="submit"></p>
    </form>
{% endblock %}
